body {
 background-color: #f7f8fc;
}

@media screen and (max-width:426px){
 
  .css-gyek3i{
    font-size: 1.75rem !important;
  } 
  .css-8vdjnw-MuiTypography-root{
    font-size: 1.75rem !important;
  }
  .memories{
    width: 50px;
    height:50px;
  }
  .flexDirection{
    flex-direction: column-reverse !important;
  }
}
